header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2%;
  background-color: hsl(0,0%,10%);
}
header > span{
  font-size: 1.5rem;
  color: hsl(0,0%,100%);
}
header > img{
  width:40px;
  height:40px;
}
.sidebar{
  height: 100%;
  color: red;
  background-color: hsl(0,0%,10%);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}
.sidebar-menu{
  padding: 0;
  margin: 20px;
}
.sidebar-menu ul{
  list-style: none;
  padding:0;
}
.sidebar-menu li a{
  display: flex;
  align-items: center;
  color:white;
  text-decoration: none;
  padding: 1%;
}
.sidebar.open{
  width:10%;
}
.sidebar.collapsed{
  width:5%;
}
.toggle-btn{
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  align-self: center;
  cursor:pointer;
}
.sidebar.collapsed.toggle-btn{
  align-self: center;
}
.main-content{
  transition: margin-left 0.3s ease;
}
.main-content.sidebar-open{
  margin-left: 80%;
}
.main-content.sidebar-collapsed{
  margin-left: 95%;
}